@import url('https://fonts.googleapis.com/css2?family=Astloch:wght@700&family=Dosis:wght@200&display=swap');

h1{font-family: "Astloch", Arial, Helvetica;}
h2{font-family: "Astloch";
    margin: 0;}
h3{font-family: "Astloch", Arial, Helvetica, sans-serif;}
h4{font-family: "Dosis", Arial, Helvetica, sans-serif;}
p{font-family: "Dosis", Helvetica, sans-serif;}

body{
    background-color: white;
    font-size: 22px;
    padding: 0;
    margin: 0;}

/* HEADER */
header{
    background-color: black;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 25% 12.5%;
}
/* Add a black background color to the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: black;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #87ff65;
    text-align: center;
    padding: 14px 16px;
    margin-top: 4%;
    text-decoration: none;
    font-size: 1em;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #D81e5b;
    color: black;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #87ff65;
    color: black;
  }
  .topnav a.active:hover{
    background-color: #D81e5b;
    color: black;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: round;
    margin-top: 5%;
    margin-right: 16px;
    font-size: 1em;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #456990;
    }
  }

.logo{
    width: 80px;
    margin: 15px;
    padding-left: 25%;
    justify-self: right;
    align-self: right;}
.headerh1{
    color: #87ff65;
    text-align: right;
}

/* HERO */
#hero{
    display: grid;
    grid-template-rows: 250px 250px 250px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 100px;}
.pinkhair{
    width: 100%;
    height: 100%;
    grid-column: 1/5;
    grid-row: 1/4;}
.hero-message{
    grid-column: 1/5;
    grid-row: 2/3;
    margin-left: 50px;
    margin-top: 10px;
    font-size: 4rem;
    color: #456990;}

/* MAIN HOME-GRID */
.home-grid{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(2, 500px);
    margin: 20px;}
.green-rockers{
    width: 100%;
    height: 100%;
    grid-column: 1/4;
    grid-row: 1/2;}
.msg1-background{
    height: 250px;
    width: 100%;
    background-color: black;
    grid-column: 3/12;
    grid-row: 1/2;
    margin-top: 50px;}
.msg1{
    color: #87ff65;
    grid-column: 3/12;
    grid-row: 1/2;
    margin-top: 100px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;}
.brushes{
    width: 100%;
    height: 100%;
    grid-column: -1/-4;
    grid-row: 2/3;
    z-index: -1;}
.msg2-background{
    height: 250px;
    width: 100%;
    background-color: black;
    grid-column: -3/-12;
    grid-row: 2/3;
    margin-top: 50px;}
.msg2{
    color: #D81e5b;
    grid-column: -3/-12;
    grid-row: 2/3;
    margin-top: 100px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;}

/* FOOTER */
footer{
    background-color: black;
    color: #87ff65;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;}
.social-media{width: 80px;
    padding-top: 15px;}
footer a{color: #87ff65;
    text-decoration: none;}
footer a:hover{color: #D81e5b;}
footer p{font-size: 1.2em;}
footer p a:hover{text-decoration: underline;}